* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(20, 25, 34);
}

header {
  height: 90px;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 999;
}

main {
  height: calc(100vh - 80px);
  overflow: auto;
  padding-top: 105px;
}

footer {
  background-color: rgb(40, 40, 40);
  height: 80px;
}

/***********************************************************************/
.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jus-flx-end {
  justify-content: flex-end;
}

.jus-spc-btw {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.wh-lateral-menu {
  width: calc(100% - 200px);
}

/***********************************************************************/
.bottone {
  width: fit-content;
  height: fit-content;
  padding: 15px 40px;
  background-color: black;
  border-radius: 30px;
  border: 1px solid white;
}

.bottone a {
  color: white;
  text-decoration: none;
}

.bottone a:hover {
  text-decoration: underline;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  width: 100%;
}

header .bottone a{
  text-transform: uppercase;
}

.lateral-menu {
  width: 200px;
  height: calc(100vh - 80px);
  background-color: black;
  float: left;
  overflow: auto;
}

.lateral-menu .container {
  height: 100%;
}

.lateral-menu .logo {
  padding: 15px 0;
}

.lateral-menu ul{
  list-style: none;
  margin-bottom: 25px;
}

.lateral-menu ul li{
  margin-bottom: 20px;
}

.sezioni{
  width: 100%;
  height: 50px;
  background-color: blue;
}

.content {
  margin-top: 30px;
}

.row {
  margin-top: 25px;
  margin-bottom: 35px;
  grid-gap: 3%;
}

.col {
  width: calc(calc(100%/6) - 3%);
  height: 300px;
  background-color: cyan;
  margin-bottom: 20px;
}

/**********************************************************
        RESPONSIVE
**********************************************************/
@media screen and (max-width: 480px) {
  .lateral-menu {
    width: 40px;
  }

}

@media screen and (max-width: 760px) {
  .col {
    width: calc(calc(100%/2) - 3%);
    height: 300px;
    background-color: cyan;
    margin-bottom: 20px;
  }

}