* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgb(20, 25, 34);
}

header {
  height: 80px;
  position: fixed;
  right: 0;
  top: 0;
  padding-right: 5px;
  background-color: rgba(0, 0, 0, 0.548);
  z-index: 999;
}

main {
  height: calc(100vh - 80px);
  overflow: auto;
}

footer {
  background-color: rgb(40, 40, 40);
  height: 80px;
}

/***********************************************************************/
.flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.jus-flx-end {
  justify-content: flex-end;
}

.jus-spc-btw {
  justify-content: space-between;
}

.jus-c {
  justify-content: center;
}

.align-c {
  align-items: center;
}

.wh-lateral-menu {
  width: calc(100% - 200px);
}

.flex-shrink-zero {
  flex-shrink: 0;
}

/***********************************************************************/
.bottone {
  width: fit-content;
  height: fit-content;
  padding: 10px 40px;
  background-color: black;
  border-radius: 30px;
  border: 1px solid white;
}

.bottone a {
  color: white;
  text-decoration: none;
}

.bottone a:hover {
  text-decoration: underline;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  width: 100%;
}
header .bottone a{
  text-transform: uppercase;
  font-size: 12px;
}

.lateral-menu {
  width: 200px;
  height: calc(100vh - 80px);
  background-color: black;
  float: left;
}

.lateral-menu .container {
  height: 100%;
}

.lateral-menu .logo {
  height: 80px;
}

.lateral-menu .logo img {
  height: 35px;
}

.lateral-menu .logo img[alt="Logo"] {
  display: none;
}

.lateral-menu .menu li img{
  width: 20px;
}

.lateral-menu ul {
  list-style: none;
  margin-bottom: 25px;
}

.lateral-menu ul li {
  margin-bottom: 20px;
}

.lateral-menu-bottom {
}


.lateral-menu-bottom img {
  width: 20px;
}

.lateral-menu-bottom .download {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.lateral-menu-bottom .account {
  margin-top: 10px;

}

.lateral-menu-bottom img[alt="Profile"] {
  width: 20px;
  background-color: grey;
  padding: 1px;
  border-radius: 20px;
}

main .container {
  padding-top: 95px;
}

.playlist {
  overflow: auto;
  height: 100%;
}

.new-playlist {
  margin: 10px auto;
}

.playlist i {
  font-size: 40px;
  margin-right: 10px;
}

.sezioni ul {
  list-style: none;
  display: flex;
}

.sezioni ul li {
  margin-right: 15px;
  flex-shrink: 0;
  margin-bottom: 30px;
}

.sezioni ul li a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

.row {
  margin-top: 25px;
  margin-bottom: 35px;
  grid-gap: 3%;
}

.col {
  width: calc(calc(100%/6) - 3%);
  height: 300px;
  margin-bottom: 20px;
}

.col img {
  width: 100%;
}

.col .text {
  margin-top: 10px;
  text-align: center;
}

.col .text .content-name {
  font-size: 15px;
  font-weight:900;
}

.col .text .subtitle {
  font-size: 10px;
  color: grey;
  font-weight:900;
}

.col .text h3 {
  font-size: 15px;
  font-weight:900;
}

.popular-artists .col img{
  border-radius: 100%;
}

footer > div {
  height: 100%;
}

footer .song {
  width: 200px;
  flex-shrink: 0;
  padding: 0 10px;
}

footer .song .text{
  width: 100%;
  padding-left: 10px;
}

footer .song .text span {
  display: block;
}

footer .song .text .song-name {
  font-size: 10px;
}

footer .song .text .artist-name {
  font-size: 9px;
  color: grey;
}

footer .song img{
  height: 35px;
}

footer .song-control {
  width: 460px;
}

footer .song-control > div{
  height: 50%;
}

.start-stop {
  width: 180px;
  margin: 0 auto;
}

.bar {
  width: 100%;
}

.current-time, .full-lenth {
  font-size: 10px;
  padding: 5%;
}

.time-line{
  height: 4px;
  width: 90%;
  border-radius: 2px;
  background-color: white;
}

footer .general-control {
  width: 200px;
  flex-shrink: 0;
  padding: 10px;
  font-size: 15px;
}

.volume {
  width: 70%;
}

.volume-line{
  margin-left: 5px;
  height: 4px;
  width: 80%;
  border-radius: 2px;
  background-color: white;
}


/**********************************************************
        RESPONSIVE
**********************************************************/
@media screen and (max-width: 1300px) {
  .col {
    width: calc(calc(100%/4) - 3%);
    height: 300px;
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 760px) {
  .col {
    width: calc(calc(100%/2) - 3%);
    height: 300px;
    margin-bottom: 20px;
  }

  footer .song {
    width: 150px;
  }

  footer .general-control {
    width: 150px;
  }

}

@media screen and (max-width: 480px) {
  .lateral-menu {
    width: 40px;
  }

  .lateral-menu .container{
    padding-left: 6px;
    padding-right: 6px;
  }

  .wh-lateral-menu {
    width: calc(100% - 40px);
  }

  .lateral-menu .logo img[alt="Logo"] {
    display: block;
    width: 28px;
  }

  .lateral-menu .logo img[alt="Logo Spotify"] {
    display: none;
  }

  .lateral-menu span {
    display: none;
  }

  .lateral-menu-bottom .download {
    border-bottom: none;
  }

  .lateral-menu .playlist {
    display: none;
  }
}